@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply mt-0 mb-2 text-5xl font-medium leading-tight text-slate-900;
  }
  h2 {
    @apply mt-0 mb-2 text-4xl font-medium leading-tight text-slate-900;
  }
  h3 {
    @apply mt-0 mb-2 text-3xl font-medium leading-tight text-slate-900;
  }
  h4 {
    @apply mt-0 mb-2 text-2xl font-medium leading-tight text-slate-900;
  }
  h5 {
    @apply mt-0 mb-2 text-xl font-medium leading-tight text-slate-900;
  }
  h6 {
    @apply mt-0 mb-2 text-base font-medium leading-tight text-slate-900;
  }
}

@layer components {
  .btn-primary {
    @apply w-20 rounded-lg bg-indigo-500 p-2 text-center font-medium text-white;
  }

  .card {
    @apply flex flex-col rounded-lg bg-white py-4 px-8 shadow-lg;
  }

  .input {
    @apply w-full z-40 border-b-2 bg-transparent py-2 text-gray-900 hover:border-gray-300 focus:border-indigo-800 focus:outline-none;
  }
}

.react-datepicker {
  z-index: 9999 !important;
}
