@import "bootstrap/scss/bootstrap";

.patients-table {
  &-row:hover {
    background-color: lightgray !important;
  }
}

// Chrome, Safari and Opera
main::-webkit-scrollbar {
  display: none;
}

main {
  -ms-overflow-style: none; // Edge
  scrollbar-width: none; // Firefox
}
