public-hoist-pattern[]=@astrojs/internal-helpers
public-hoist-pattern[]=@pagefind/default-ui
public-hoist-pattern[]=clsx
public-hoist-pattern[]=cssesc
public-hoist-pattern[]=kleur
public-hoist-pattern[]=html-escaper
public-hoist-pattern[]=zod
