# public-hoist-pattern[]=astro
# public-hoist-pattern[]=astro/*
# public-hoist-pattern[]=@astrojs/internal-helpers
# public-hoist-pattern[]=@pagefind/default-ui
# public-hoist-pattern[]=clsx
# public-hoist-pattern[]=cssesc
# public-hoist-pattern[]=kleur
# public-hoist-pattern[]=html-escaper
# public-hoist-pattern[]=zod

# TBD - Setup outreach to allow the strict node_modules format
shamefully-hoist=true