---
import { useTranslations } from '@/i18n';
const { t } = useTranslations(Astro.url);
---

<footer class="bg-white py-5 mt-auto dark:bg-slate-800">
  <div class="container flex items-center justify-center gap-5">
    <a
      href="https://douglasneuroinformatics.ca/"
      class="text-base text-slate-600 hover:text-slate-900 dark:text-slate-300 dark:hover:text-slate-100"
      target="_blank"
      rel="noreferrer"
    >
      {t('footer.aboutUs')}
    </a>
    <a
      href="https://github.com/DouglasNeuroInformatics/OpenDataCapture"
      class="text-base text-slate-600 hover:text-slate-900 dark:text-slate-300 dark:hover:text-slate-100"
      target="_blank"
      rel="noreferrer"
    >
      {t('footer.gitHub')}
    </a>
  </div>
  <p class="text-center text-slate-500 dark:text-slate-400 mt-2">
    &copy; {new Date().getFullYear()} Douglas Neuroinformatics Platform
  </p>
</footer>
