---
import MoonIcon from '../icons/MoonIcon.astro';
import SunIcon from '../icons/SunIcon.astro';

import { useTranslations } from '@/i18n';

const { t } = useTranslations(Astro.url);
---

<button
  aria-label={t('themeToggle.label')}
  class="relative h-10 w-10 rounded-md transition-transform hover:backdrop-brightness-95 dark:hover:backdrop-brightness-150"
  id="theme-toggle"
  type="button"
>
  <MoonIcon class="absolute inset-2 h-6 w-6 dark:opacity-0" />
  <SunIcon class="absolute inset-2 h-6 w-6 opacity-0 dark:opacity-100" />
</button>
<script>
  const isDarkSystem = matchMedia('(prefers-color-scheme: dark)').matches;
  const savedTheme = localStorage.getItem('theme');
  if (savedTheme === 'dark' || (!savedTheme && isDarkSystem)) {
    document.documentElement.classList.add('dark');
  }
  document.getElementById('theme-toggle')?.addEventListener('click', () => {
    if (document.documentElement.classList.contains('dark')) {
      document.documentElement.classList.remove('dark');
      localStorage.setItem('theme', 'light');
    } else {
      document.documentElement.classList.add('dark');
      localStorage.setItem('theme', 'dark');
    }
  });
</script>
