---
import Header from '@/components/Header.astro';
import { useTranslations } from '@/i18n';

type Props = {
  meta?: {
    title?: string;
    description?: string;
  };
};

const { resolvedLanguage, t } = useTranslations(Astro.url);

const { meta } = Astro.props;
---

<!DOCTYPE html>
<html lang={resolvedLanguage}>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={meta?.description ?? t('platform.description')} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{meta?.title ?? t('platform.title')}</title>
  </head>
  <body class="bg-slate-100 text-slate-900 min-h-screen flex flex-col dark:bg-slate-900 dark:text-slate-100">
    <Header />
    <main class="container flex-grow">
      <slot />
    </main>
  </body>
</html>
