---
import { useTranslations } from '@/i18n';
const { t } = useTranslations(Astro.url);
---

<footer class="bg-white py-5 dark:bg-slate-800">
  <div class="container flex items-center justify-center gap-2">
    <a
      href="https://douglasneuroinformatics.ca/"
      class="text-base text-slate-600 hover:text-slate-900 dark:text-slate-300 dark:hover:text-slate-100"
      target="_blank"
      rel="noreferrer"
    >
      DNP
    </a>
    <span>&#183;</span>
    <a
      href="https://playground.opendatacapture.org"
      class="text-base text-slate-600 hover:text-slate-900 dark:text-slate-300 dark:hover:text-slate-100"
      target="_blank"
      rel="noreferrer"
    >
      {t('common.playground')}
    </a>
    <span>&#183;</span>
    <a
      href="https://github.com/DouglasNeuroInformatics/OpenDataCapture"
      class="text-base text-slate-600 hover:text-slate-900 dark:text-slate-300 dark:hover:text-slate-100"
      target="_blank"
      rel="noreferrer"
    >
      {t('common.gitHub')}
    </a>
  </div>
  <p class="mt-2 text-center text-slate-600 dark:text-slate-300">
    &copy; {new Date().getFullYear()} Douglas Neuroinformatics Platform
  </p>
</footer>
