---
import { useTranslations } from '@/i18n';

type Props = {
  bilingual?: boolean;
  meta?: {
    title?: string;
    description?: string;
    author?: string;
    keywords?: string[];
  };
};

const { bilingual, meta } = Astro.props;
const { altLanguage, resolvedLanguage, t } = useTranslations(Astro.url);
const path = Astro.url.pathname.replace(/^(\/en|\/fr)/, '');
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <title>{meta?.title ?? t('meta.title')}</title>
  <meta name="description" content={meta?.description ?? t('meta.description')} />
  <meta name="author" content={meta?.author ?? t('meta.author')} />
  <meta name="keywords" content={meta?.keywords ? meta.keywords.join(', ') : t('meta.keywords')} />
  <meta property="og:title" content={meta?.title ?? t('meta.title')} />
  <meta property="og:description" content={meta?.description ?? t('meta.description')} />
  <meta property="og:type" content="website" />
  <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
  {
    bilingual && (
      <>
        <meta property="og:locale" content={resolvedLanguage} />
        <meta property="og:locale:alternate" content={altLanguage} />
        <link rel="alternate" href={new URL(`/en${path}`, Astro.site)} hreflang="en" />
        <link rel="alternate" href={new URL(`/fr${path}`, Astro.site)} hreflang="fr" />
      </>
    )
  }
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <!-- prettier-ignore -->
  <script is:inline defer data-domain="opendatacapture.org" src="http://analytics.douglasneuroinformatics.ca/js/script.js"></script>
  <script is:inline>
    const getThemePreference = () => {
      const savedTheme = window.localStorage.getItem('theme');
      if (savedTheme === 'dark' || savedTheme === 'light') {
        return savedTheme;
      }
      return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    };
    const theme = getThemePreference();
    document.documentElement.setAttribute('data-mode', theme);
    window.localStorage.setItem('theme', theme);
  </script>
</head>
