---
import Logo from './Logo.astro';

const locale = Astro.url.pathname.split('/')[1];
---

<a class="site-title" href={`/${locale}`}>
  <Logo />
  <span>Open Data Capture</span>
</a>
<style>
  .site-title {
    align-items: center;
    display: flex;
    text-decoration: none;
  }
  .site-title svg {
    fill: var(--logo-color);
    height: 2.5rem;
    width: auto;
  }
  .site-title span {
    color: var(--logo-text-color);
    font-weight: 600;
    letter-spacing: -0.025em;
    margin-left: 0.75rem;
    white-space: nowrap;
  }
</style>
