:root,
::backdrop {
  --slate-50: #f8fafc;
  --slate-100: #f1f5f9;
  --slate-200: #e2e8f0;
  --slate-300: #cbd5e1;
  --slate-400: #94a3b8;
  --slate-500: #64748b;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1e293b;
  --slate-900: #0f172a;
  --slate-950: #020617;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;
  --gray-950: #030712;

  --sky-50: #f0f9ff;
  --sky-100: #e0f2fe;
  --sky-200: #bae6fd;
  --sky-300: #7dd3fc;
  --sky-400: #38bdf8;
  --sky-500: #0ea5e9;
  --sky-600: #0284c7;
  --sky-700: #0369a1;
  --sky-800: #075985;
  --sky-900: #0c4a6e;
  --sky-950: #082f49;

  --red-50: #fef2f2;
  --red-100: #fee2e2;
  --red-200: #fecaca;
  --red-300: #fca5a5;
  --red-400: #f87171;
  --red-500: #ef4444;
  --red-600: #dc2626;
  --red-700: #b91c1c;
  --red-800: #991b1b;
  --red-900: #7f1d1d;
  --red-950: #450a0a;

  --orange-50: #fff7ed;
  --orange-100: #ffedd5;
  --orange-200: #fed7aa;
  --orange-300: #fdba74;
  --orange-400: #fb923c;
  --orange-500: #f97316;
  --orange-600: #ea580c;
  --orange-700: #c2410c;
  --orange-800: #9a3412;
  --orange-900: #7c2d12;
  --orange-950: #431407;

  --green-50: #f0fdf4;
  --green-100: #dcfce7;
  --green-200: #bbf7d0;
  --green-300: #86efac;
  --green-400: #4ade80;
  --green-500: #22c55e;
  --green-600: #16a34a;
  --green-700: #15803d;
  --green-800: #166534;
  --green-900: #14532d;
  --green-950: #052e16;

  --indigo-50: #eef2ff;
  --indigo-100: #e0e7ff;
  --indigo-200: #c7d2fe;
  --indigo-300: #a5b4fc;
  --indigo-400: #818cf8;
  --indigo-500: #6366f1;
  --indigo-600: #4f46e5;
  --indigo-700: #4338ca;
  --indigo-800: #3730a3;
  --indigo-900: #312e81;
  --indigo-950: #1e1b4b;

  --violet-50: #f5f3ff;
  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;
  --violet-800: #5b21b6;
  --violet-900: #4c1d95;
  --violet-950: #2e1065;

  /* Colors (dark mode) */
  --sl-color-white: var(--slate-100);
  --sl-color-gray-1: var(--slate-200);
  --sl-color-gray-2: var(--slate-300);
  --sl-color-gray-3: var(--slate-400);
  --sl-color-gray-4: var(--slate-600);
  --sl-color-gray-5: var(--slate-700);
  --sl-color-gray-6: var(--slate-800);
  --sl-color-black: var(--slate-900);

  --sl-color-orange-low: var(--orange-900);
  --sl-color-orange: var(--orange-500);
  --sl-color-orange-high: var(--orange-200);

  --sl-color-green-low: var(--green-800);
  --sl-color-green: var(--green-500);
  --sl-color-green-high: var(--green-200);

  --sl-color-blue-low: var(--sky-800);
  --sl-color-blue: var(--sky-500);
  --sl-color-blue-high: var(--sky-200);

  --sl-color-purple-low: var(--violet-800);
  --sl-color-purple: var(--violet-500);
  --sl-color-purple-high: var(--violet-200);

  --sl-color-red-low: var(--red-800);
  --sl-color-red: var(--red-500);
  --sl-color-red-high: var(--red-200);

  --sl-color-accent-low: var(--slate-900);
  --sl-color-accent: var(--sky-700);
  --sl-color-accent-high: var(--slate-100);

  --sl-color-text: var(--slate-300);
  --sl-color-text-accent: var(--slate-100);
  --sl-color-text-invert: var(--slate-900);
  --sl-color-bg: var(--slate-900);
  --sl-color-bg-nav: var(--slate-800);
  --sl-color-bg-sidebar: var(--slate-800);
  --sl-color-bg-inline-code: var(--slate-700);
  --sl-color-bg-accent: var(--sl-color-accent-high);
  --sl-color-hairline-light: var(--slate-700);
  --sl-color-hairline: var(--slate-800);
  --sl-color-hairline-shade: var(--slate-900);

  --sl-color-backdrop-overlay: rgb(15, 23, 42, 0.66); /* Shadows (dark mode) */
  --sl-shadow-sm: 0px 1px 1px hsla(15, 23, 42, 0.12), 0px 2px 1px hsla(0, 0%, 0%, 0.24);
  --sl-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.08), 0px 5px 2px hsla(0, 0%, 0%, 0.08),
    0px 3px 2px hsla(0, 0%, 0%, 0.12), 0px 1px 1px hsla(0, 0%, 0%, 0.15);
  --sl-shadow-lg: 0px 25px 7px hsla(0, 0%, 0%, 0.03), 0px 16px 6px hsla(0, 0%, 0%, 0.1),
    0px 9px 5px hsla(15, 23, 42, 0.33), 0px 4px 4px hsla(0, 0%, 0%, 0.75), 0px 4px 2px hsla(0, 0%, 0%, 0.25);

  /* Text size and line height */
  --sl-text-xs: 0.8125rem; /* 13px */
  --sl-text-sm: 0.875rem; /* 14px */
  --sl-text-base: 1rem; /* 16px */
  --sl-text-lg: 1.125rem; /* 18px */
  --sl-text-xl: 1.25rem; /* 20px */
  --sl-text-2xl: 1.5rem; /* 24px */
  --sl-text-3xl: 1.8125rem; /* 29px */
  --sl-text-4xl: 2.1875rem; /* 35px */
  --sl-text-5xl: 2.625rem; /* 42px */
  --sl-text-6xl: 4rem; /* 64px */

  --sl-text-body: var(--sl-text-sm);
  --sl-text-body-sm: var(--sl-text-xs);
  --sl-text-code: var(--sl-text-sm);
  --sl-text-code-sm: var(--sl-text-xs);
  --sl-text-h1: var(--sl-text-3xl);
  --sl-text-h2: var(--sl-text-2xl);
  --sl-text-h3: var(--sl-text-xl);
  --sl-text-h4: var(--sl-text-lg);
  --sl-text-h5: var(--sl-text-base);

  --sl-line-height: 1.5;
  --sl-line-height-headings: 1.2;

  --sl-font-system: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue',
    Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --sl-font-system-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  --__sl-font: var(--sl-font, var(--sl-font-system)), var(--sl-font-system);
  --__sl-font-mono: var(--sl-font-mono, var(--sl-font-system-mono)), var(--sl-font-system-mono);

  /** Key layout values */
  --sl-nav-height: 3.5rem;
  --sl-nav-pad-x: 1rem;
  --sl-nav-pad-y: 0.75rem;
  --sl-mobile-toc-height: 3rem;
  --sl-sidebar-width: 18.75rem;
  --sl-sidebar-pad-x: 1rem;
  --sl-content-width: 45rem;
  --sl-content-pad-x: 1rem;
  --sl-menu-button-size: 2rem;
  --sl-nav-gap: var(--sl-content-pad-x);
  /* Offset required to show outline inside an element instead of round the outside */
  --sl-outline-offset-inside: -0.1875rem;

  /* Global z-index values */
  --sl-z-index-toc: 4;
  --sl-z-index-menu: 5;
  --sl-z-index-navbar: 10;
  --sl-z-index-skiplink: 20;
}

:root[data-theme='light'],
[data-theme='light'] ::backdrop {
  /* Colours (light mode) */
  --sl-color-white: var(--slate-900);
  --sl-color-gray-1: var(--slate-800);
  --sl-color-gray-2: var(--slate-700);
  --sl-color-gray-3: var(--slate-600);
  --sl-color-gray-4: var(--slate-400);
  --sl-color-gray-5: var(--slate-300);
  --sl-color-gray-6: var(--slate-200);
  --sl-color-black: var(--slate-00);

  --sl-color-orange-low: var(--orange-200);
  --sl-color-orange: var(--orange-500);
  --sl-color-orange-high: var(--orange-900);

  --sl-color-green-low: var(--green-200);
  --sl-color-green: var(--green-500);
  --sl-color-green-high: var(--green-800);

  --sl-color-blue-low: var(--sky-200);
  --sl-color-blue: var(--sky-500);
  --sl-color-blue-high: var(--sky-800);

  --sl-color-purple-low: var(--violet-200);
  --sl-color-purple: var(--violet-500);
  --sl-color-purple-high: var(--violet-800);

  --sl-color-red-low: var(--red-200);
  --sl-color-red: var(--red-500);
  --sl-color-red-high: var(--red-800);

  --sl-color-accent-low: var(--slate-100);
  --sl-color-accent: var(--sky-500);
  --sl-color-accent-high: var(--slate-900);

  --sl-color-text: var(--slate-700);
  --sl-color-text-accent: var(--slate-900);
  --sl-color-text-invert: var(--slate-100);
  --sl-color-bg: var(--slate-100);
  --sl-color-bg-nav: var(--slate-50);
  --sl-color-bg-sidebar: var(--slate-50);
  --sl-color-bg-inline-code: var(--slate-200);
  --sl-color-bg-accent: var(--sl-color-accent-high);
  --sl-color-hairline-light: var(--slate-100);
  --sl-color-hairline: var(--slate-300);
  --sl-color-hairline-shade: var(--slate-200);

  --sl-color-backdrop-overlay: hsla(225, 9%, 36%, 0.66);

  /* Shadows (light mode) */
  --sl-shadow-sm: 0px 1px 1px hsla(0, 0%, 0%, 0.06), 0px 2px 1px hsla(0, 0%, 0%, 0.06);
  --sl-shadow-md: 0px 8px 4px hsla(0, 0%, 0%, 0.03), 0px 5px 2px hsla(0, 0%, 0%, 0.03),
    0px 3px 2px hsla(0, 0%, 0%, 0.06), 0px 1px 1px hsla(0, 0%, 0%, 0.06);
  --sl-shadow-lg: 0px 25px 7px rgba(0, 0, 0, 0.01), 0px 16px 6px hsla(0, 0%, 0%, 0.03),
    0px 9px 5px hsla(223, 13%, 10%, 0.08), 0px 4px 4px hsla(0, 0%, 0%, 0.16), 0px 4px 2px hsla(0, 0%, 0%, 0.04);
}

@media (min-width: 50em) {
  :root {
    --sl-nav-height: 4rem;
    --sl-nav-pad-x: 1.5rem;
    --sl-text-h1: var(--sl-text-4xl);
    --sl-text-h2: var(--sl-text-3xl);
    --sl-text-h3: var(--sl-text-2xl);
    --sl-text-h4: var(--sl-text-xl);
  }
}

@media (min-width: 72rem) {
  :root {
    --sl-content-pad-x: 1.5rem;
    --sl-mobile-toc-height: 0rem;
  }
}

.site-title {
  gap: 0.75rem !important;
  font-weight: 600 !important;
  font-size: 1rem !important;
}

.site-title > img {
  order: 1;
}

.site-title > span {
  order: 2;
}

.sl-markdown-content a {
  color: var(--sl-color-text);
  text-decoration: underline;
}
