---
import Footer from '@/components/Footer.astro';
import Head from '@/components/Head.astro';
import Header from '@/components/Header.astro';

import { useTranslations } from '@/i18n';
import { twMerge } from 'tailwind-merge';
type Props = {
  bilingual?: boolean;
  className?: string;
  meta?: {
    title?: string;
    description?: string;
    author?: string;
    keywords?: string[];
  };
};

const { resolvedLanguage } = useTranslations(Astro.url);
const { bilingual, className, meta } = Astro.props;
---

<!doctype html>
<html lang={resolvedLanguage}>
  <Head bilingual={bilingual} meta={meta} />
  <body class="flex min-h-screen flex-col bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <Header />
    <main class={twMerge('container grow py-16', className)}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
