---
import Head from '@/components/Head.astro';
import { useTranslations } from '@/i18n';

type Props = {
  bilingual?: boolean;
  meta?: {
    title?: string;
    description?: string;
    author?: string;
    keywords?: string[];
  };
};

const { resolvedLanguage } = useTranslations(Astro.url);
const { bilingual, meta } = Astro.props;
---

<!doctype html>
<html lang={resolvedLanguage}>
  <Head bilingual={bilingual} meta={meta} />
  <body class="flex min-h-screen flex-col bg-slate-100 text-slate-900 dark:bg-slate-900 dark:text-slate-100">
    <main class="container">
      <slot />
    </main>
  </body>
</html>
