body {
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
}

button {
  font-size: 30pt;
  line-height: 36pt;
  height: 60px;
  border: 2px solid #606060;
  background: #d3d3d3;
}

#main {
  width: 600px;
  text-align: center;
  margin: 0 auto;
}

table {
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  line-height: 36px;
}

td {
  border: 2px solid gray;
  padding: 10px;
  width: 75px;
}

h4 {
  font-size: 1.5em;
}
