---
import { useTranslations } from '@/i18n';
import LanguageToggle from './LanguageToggle.astro';
import ThemeToggle from './ThemeToggle.astro';
import Logo from './Logo.astro';

const { resolvedLanguage, t } = useTranslations(Astro.url);
---

<header
  class="sticky top-0 z-10 bg-white/80 text-slate-700 shadow backdrop-blur-lg dark:bg-slate-800/75 dark:text-slate-300"
>
  <div class="container flex flex-wrap items-center py-3 font-medium">
    <Logo class="fill-sky-900 dark:fill-slate-100 h-10 w-auto" />
    <a class="text-lg hidden" href={`/${resolvedLanguage}/`}>{t('platform.title')}</a>
    <div class="flex flex-grow justify-end bg-inherit md:order-last gap-3">
      <nav class="flex gap-3 items-center">
        <a class="p-2" href={`/${resolvedLanguage}/`}>
          {t('home.title')}
        </a>
        <a class="p-2" href={`/${resolvedLanguage}/blog`}>
          {t('blog.title')}
        </a>
      </nav>
      <div class="min-h-full m-2 rounded-md w-[1px] dark:bg-slate-700 bg-slate-300"></div>
      <div class="flex gap-3">
        <ThemeToggle />
        <LanguageToggle />
      </div>
    </div>
  </div>
</header>
