---
import { useTranslations } from '../i18n';
import ChevronDown from './icons/ChevronDown.astro';

const { t, resolvedLanguage } = useTranslations(Astro.url);
---

<div class="relative">
  <button
    aria-label={t('languageToggle.label')}
    class="flex items-center justify-center rounded-md p-2 hover:backdrop-brightness-95 dark:hover:backdrop-brightness-150"
    id="language-toggle"
    type="button"
  >
    <span class="uppercase">{resolvedLanguage}</span>
    <ChevronDown class="ml-1 h-4 w-4" />
  </button>
  <div
    class="absolute mt-1 hidden w-full rounded-md bg-white shadow-xl ring-1 ring-black ring-opacity-10 dark:bg-slate-800"
    id="language-toggle-dropdown"
  >
    <a
      class="block cursor-pointer p-2 text-center uppercase first:rounded-t-md last:rounded-b-md hover:backdrop-brightness-95 dark:hover:backdrop-brightness-150"
      href={new URL('/en/', Astro.url)}
    >
      en
    </a>
    <a
      class="block cursor-pointer p-2 text-center uppercase first:rounded-t-md last:rounded-b-md hover:backdrop-brightness-95 dark:hover:backdrop-brightness-150"
      href={new URL('/fr/', Astro.url)}
    >
      fr
    </a>
  </div>
</div>
<script>
  const toggle = document.getElementById('language-toggle') as HTMLButtonElement;
  const dropdown = document.getElementById('language-toggle-dropdown') as HTMLDivElement;
  toggle.addEventListener('click', () => {
    dropdown.classList.toggle('hidden');
  });
</script>
