---
import Hero from '@/components/landing/Hero.astro';
import Page from '@/layouts/Page.astro';

export const getStaticPaths = () => {
  return [{ params: { locale: 'en' } }, { params: { locale: 'fr' } }];
};
---

<Page>
  <div class="flex items-center justify-center flex-grow">
    <Hero />
  </div>
</Page>
