---
import Logo from './Logo.astro';

import { useTranslations } from '@/i18n';

import { twMerge } from 'tailwind-merge';

type Props = {
  className?: string;
};

const { t } = useTranslations(Astro.url);
const { className } = Astro.props;
---

<div class={twMerge('flex h-10 items-center [&>svg]:h-full [&>svg]:w-auto', className)}>
  <Logo class="fill-sky-900 dark:fill-slate-100" />
  <span class="font-lg ml-3 whitespace-nowrap font-semibold">{t('meta.title')}</span>
</div>
