---
import { twMerge } from 'tailwind-merge';

type Props = {
  className?: string;
  variant: 'h1' | 'h2' | 'h3' | 'h4';
};

const { className, variant } = Astro.props;
---

{
  variant === 'h1' && (
    <h1 class={twMerge('text-3xl font-extrabold tracking-tight sm:text-4xl', className)}>
      <slot />
    </h1>
  )
}
{
  variant === 'h2' && (
    <h2 class={twMerge('text-2xl font-bold tracking-tight sm:text-3xl', className)}>
      <slot />
    </h2>
  )
}
{
  variant === 'h3' && (
    <h3 class={twMerge('text-xl font-semibold tracking-tight sm:text-2xl', className)}>
      <slot />
    </h3>
  )
}
{
  variant === 'h4' && (
    <h4 class={twMerge('text-lg font-semibold tracking-tight sm:text-xl', className)}>
      <slot />
    </h4>
  )
}
