---
import { useTranslations } from '@/i18n';

const { t } = useTranslations(Astro.url);
---

<div class="mt-16 text-center">
  <h3 class="text-lg font-medium">{t('common.noContent')}</h3>
  <span class="mt-1 text-sm text-slate-600 dark:text-slate-300">
    <span>{t('common.viewAltLangPrefix')}</span>
    <a class="underline hover:text-slate-900 hover:dark:text-slate-100" href="">
      {t('common.viewAltLangSuffix')}
    </a>
  </span>
</div>
