---
import Divide from './Divide.astro';
import Heading from './Heading.astro';

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<div class="flex flex-col items-center justify-center space-y-8 py-8">
  <Heading variant="h1">
    {title}
  </Heading>
  <Divide />
</div>
