<footer class="bg-white py-4 text-sm shadow dark:bg-slate-800">
  <div class="text-muted-foreground container hidden items-center justify-center gap-2 sm:flex">
    <a class="hover:text-foreground" href="https://douglasneuroinformatics.ca/" target="_blank" rel="noreferrer">
      Douglas Neuroinformatics
    </a>
    <span>&#183;</span>
    <a
      href="https://github.com/DouglasNeuroInformatics/OpenDataCapture"
      class="hover:text-foreground"
      target="_blank"
      rel="noreferrer"
    >
      GitHub
    </a>
    <span>&#183;</span>
    <a class="hover:text-foreground" href="https://playground.opendatacapture.org" target="_blank" rel="noreferrer">
      Instrument Playground
    </a>
  </div>
  <p class="text-muted-foreground mt-1.5 text-center">
    &copy; {new Date().getFullYear()} Douglas Neuroinformatics Platform
  </p>
</footer>
