---
import { useTranslations } from '../../i18n';

const { t, resolvedLanguage } = useTranslations(Astro.url);

const is404 = /^\/404\/?$/.test(Astro.url.pathname);
---

<div class="relative">
  <button
    aria-label={t('common.changeLanguage')}
    class="flex items-center justify-center rounded-md p-2 hover:backdrop-brightness-95 disabled:cursor-not-allowed dark:text-slate-300 dark:hover:text-slate-100 dark:hover:backdrop-brightness-150"
    disabled={is404}
    id="language-toggle"
    type="button"
  >
    <span class="uppercase">{resolvedLanguage}</span>
    <svg
      class="ml-1 h-4 w-4"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5"></path>
    </svg>
  </button>
  <div
    class="absolute mt-1 hidden w-full rounded-md bg-white shadow-xl ring-1 ring-black ring-opacity-10 dark:bg-slate-800"
    id="language-toggle-dropdown"
  >
    <a
      class="block cursor-pointer p-2 text-center uppercase first:rounded-t-md last:rounded-b-md hover:backdrop-brightness-95 dark:hover:backdrop-brightness-150"
      href={new URL(Astro.url.href.replace(`/${resolvedLanguage}`, `/en`))}
    >
      en
    </a>
    <a
      class="block cursor-pointer p-2 text-center uppercase first:rounded-t-md last:rounded-b-md hover:backdrop-brightness-95 dark:hover:backdrop-brightness-150"
      href={new URL(Astro.url.href.replace(`/${resolvedLanguage}`, `/fr`))}
    >
      fr
    </a>
  </div>
</div>
<script>
  const toggle = document.getElementById('language-toggle') as HTMLButtonElement;
  const dropdown = document.getElementById('language-toggle-dropdown') as HTMLDivElement;
  toggle.addEventListener('click', () => {
    dropdown.classList.toggle('hidden');
  });
</script>
