---
import MoonIcon from '../icons/MoonIcon.astro';
import SunIcon from '../icons/SunIcon.astro';

import { useTranslations } from '@/i18n';

const { t } = useTranslations(Astro.url);
---

<button
  aria-label={t('common.changeTheme')}
  class="relative h-10 w-10 rounded-md transition-transform hover:backdrop-brightness-95 dark:text-slate-300 dark:hover:text-slate-100 dark:hover:backdrop-brightness-150"
  id="theme-toggle"
  type="button"
>
  <MoonIcon class="absolute inset-2 h-6 w-6 dark:opacity-0" />
  <SunIcon class="absolute inset-2 h-6 w-6 opacity-0 dark:opacity-100" />
</button>
<script>
  const setTheme = (theme: 'dark' | 'light') => {
    document.documentElement.setAttribute('data-mode', theme);
    localStorage.setItem('theme', theme);
  };
  document.getElementById('theme-toggle')?.addEventListener('click', () => {
    const currentTheme = document.documentElement.getAttribute('data-mode');
    if (currentTheme === 'dark') {
      setTheme('light');
    } else if (currentTheme === 'light') {
      setTheme('dark');
    } else {
      console.error(`Unexpected theme: ${currentTheme}`);
    }
  });
</script>
