@import 'bootstrap/scss/bootstrap';
@import 'layout';

.btn-collapse {
  transition: transform 0.35s ease;
}

.subjects-table {
  &-row:hover {
    background-color: lightgray !important;
  }
}

.scrollbar-hidden {
  -ms-overflow-style: none; // Edge
  scrollbar-width: none; // Firefox
  &::-webkit-scrollbar {
    display: none; // Chrome, Safari and Opera
  }
}
