name: CI
on:
  pull_request:
    branches: ['main']
  workflow_dispatch:
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v5
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          cache: 'pnpm'
          node-version-file: '.nvmrc'
      - name: Generate Environment
        run: ./scripts/generate-env.sh
      - name: Configure Git
        run: |
          # necessary for the git commands used for release info
          git config --global --add safe.directory /__w/OpenDataCapture/OpenDataCapture
      - name: Install Dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Playwright
        run: pnpm --filter "@opendatacapture/e2e" exec playwright install --with-deps
      - name: Lint
        run: pnpm lint
      - name: Unit Tests
        run: pnpm test
      - name: End-to-End Tests
        run: pnpm --filter "@opendatacapture/e2e" test
